* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #ffdf6d;
    font-family: 'Poppins', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
  }

img {
    width: 250px;
}

.menu-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    height: 50px;
    border-top: 3px solid #ccc;
    border-left: 3px solid #ccc;
    border-right: 3px solid #4f4f50;
    background-color: #5d5d5e;
  }
  
  .menu-center {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .bar-container {
    
  }
  
  .left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .spacer-left {
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spacer-left .entry {
    height: 1px;
    width: 18px;
  }
  
  .bar-container {
    display: flex;
  }
  
  .right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .spacer-right {
    margin-right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spacer-right .entry {
    height: 18px;
    width: 18px;
  }
  .center {
    text-align: center;

  }
  .entry {
    width: 40px;
    height: 40px;
    border-top: 3px solid #ccc;
    border-left: 3px solid #ccc;
    border-right: 3px solid #4f4f50;
    border-bottom: 3px solid #4f4f50;
    background: #999;
  }
  
  .bars {
    width: 92%;
    padding-bottom: 1px;
    height: .05px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #4f4f50;
    border-bottom: 2px solid #4f4f50;
    background: #999;
    justify-content: center;
  }


  .content-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    border-top: 3px solid #ccc;
    border-left: 3px solid #ccc;
    border-right: 3px solid #4f4f50;
    border-bottom: 3px solid #4f4f50;
    background-color: #999;
  }

  .content-area-background {
    width: 590px;
    height: 590px;
      border-top: 3px solid #ccc;
      border-left: 3px solid #ccc;
      border-right: 3px solid #4f4f50;
      border-bottom: 3px solid #4f4f50;
      background: #999;
  }

  article {
    font-size: 14px;

  }


  figure {
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }

  .projects-div {
    margin: 0 auto;
    position: relative;
   
    display: flex;
    gap: 35px;
    justify-content: center;
    overflow: hidden;
  }

  .about {
    margin-bottom: 3%;
  }

  .about-heading {
    font-size: 45px;
  }

  .about-text {
    font-size: 20px;
  }

  .window {
    position: absolute;
    top:0;
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: transform .5s;

  }

  .window-btn {
    position: absolute;
    top: 55%;
    z-index: 10;
    border: none;
    background: #ffffffab;
    font-family: inherit;
    color: #333;
    border-radius: 90%;
    height: 50px;
    width: 50px;
    font-size: 50px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .window-btn-left {
    left: 25%;
    transform: translate(-50%, -50%);
  }

  .window-btn-right {
    right: 25%;
    transform: translate(-50%, -50%);
  }

  .window-img {
    width: 590px;
  }

  .window-content-div {
    border: 2px dashed red;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    max-width: 580px;
    align-items: flex-start;
    overflow: hidden;
  }

  
  figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  figure img {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .window-heading {
    font-size: 33px;
    margin-bottom: 3%;
  }

  .window-text {
    font-size: 20px;
    margin-bottom: 3%;
  }

  .window-link {
    font-size: 22px;
  }

  .header {
    margin-top: 5%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
  }

  .icon {
    width: 50px;
    height: 50px;
    padding-right: 25px;
  }

  .name-div {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }


  .name {
    font-size: 70px;
    font-family: 'Poppins';
    font-weight: 600;
    margin-bottom: -20px;

  }

  .subtitle {
    font-size: 40px;
    font-family: 'Poppins';
    font-weight: 500;

  }

